<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sync or Async</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <!-- endbuild -->
  </head>

  <body>
    <h2 th:text="${message}">hello world</h2>

    <ul>
      <li><a th:href="@{/}" href="#">sync request</a></li>
      <li><a th:href="@{/async}" href="#">async request with CompletableFuture</a></li>
      <li><a th:href="@{/asyncOne}" href="#">async accessing a passed through session</a></li>
      <li><a th:href="@{/asyncTwo}" href="#">async writing to session when async chain completes</a></li>
    </ul>
  
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../../../yo/bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="../../../yo/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
  
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
  </body>

</html>