<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sync or Async</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <h2 th:text="${message}">hello world</h2>

  <ul>
    <li><a th:href="@{/}" href="#">sync request</a></li>
    <li><a th:href="@{/async}" href="#">async request with CompletableFuture</a></li>
    <li><a th:href="@{/asyncOne}" href="#">async accessing a passed through session</a></li>
    <li><a th:href="@{/asyncTwo}" href="#">async writing to session when async chain completes</a></li>
  </ul>
</body>

</html>